.container {
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
  background-size: cover; /* Cover the full area */
  background-repeat: no-repeat; /* Prevent tiling of the background image */
  background-position: center; /* Center the background image */
}

  
  .top-bar {
    margin-bottom: 20px;
    text-align: right;
    
  }
  
  .cityInput {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .search-icon {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .weather-image img {
    width: 100px;
    height: auto;
  }
  
  .error-message {
    color: red;
  }

  .weather-flexbox {
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    
}

.weather-location {
  font-size: 60px;
  font-weight: 100;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 30 px;
}