.container {
  text-align: center;
  padding: 20px;
  min-height: 100vh; /* Ensure it takes at least the full height of the viewport */
  background-size: cover; /* Cover the full area */
  background-repeat: no-repeat; /* Prevent tiling of the background image */
  background-position: center; /* Center the background image */
}

  
  .top-bar {
    margin-bottom: 20px;
    text-align: right;
    
  }
  
  .cityInput {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .search-icon {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .weather-image img {
    width: 100px;
    height: auto;
  }
  
  .error-message {
    color: red;
  }
